{% extends "base.html" %}
{%block content%}
<h1>Add Patient</h1>

<form method="POST">
        <input type="text" name="name" placeholder="Enter patient name" class="form-control mb-2" required>
        <input type="text" name="phone_number" placeholder="10-digit number" class="form-control mb-2" maxlength="10" pattern="[0-9]{10}" required>        <input type="date" name="appointment_date" class="form-control mb-2" required>
        <button class="btn btn-primary">Add</button>

</form>

{%endblock%}


